/*Purple should never be visible, it's the "error color"*/

* {
    color: white;
}

html {
    background: purple;
}

#mainContainer {
    background: purple;
}

#menu {
    background: rgb(0, 0, 0);
}

.menubutton {
    color: rgb(0, 255, 255);

    border-color: white;
}

#tabContainer {
    background: purple;
}

#mainTab {
    background: purple;
}

#itemSearch {
    background: rgb(0, 0, 0);

    border-color: white;
}

#itemSearchBar {
    background: black;
}

#recipeTree {
    background: rgb(0, 0, 0);

    border-color: white;
}

#resourceBreakDown {
    background: rgb(0, 0, 0);

    border-color: white;
}

.resourceBreakdownTable > tr > td {
    border-color: black;
}

#recipeList {
    background: rgb(0, 0, 0);
}

#settingsTab {
    background: black;
}

.btn {
    background: rgb(88, 88, 88);
    border-color: black;
}