/*Purple should never be visible, it's the "error color"*/

* {
    color: white;
}

html {
    background: purple;
}

#mainContainer {
    background: purple;
}

#menu {
    background: rgb(0, 0, 0);
}

.menubutton {
    color: rgb(0, 255, 255);

    border-color: white;
}

.menubutton:hover {
    background: rgb(66, 66, 66);
}

#tabContainer {
    background: purple;
}

.tab {
    background: purple;
}

.searchInput {
    background: rgb(0, 0, 0);

    border-color: white;
}

.fancyInput {
    background: black;
    border-color: rgb(51, 51, 51);
}

.hoverable:hover {
    cursor: pointer;
    text-decoration: underline;
    background: rgb(66, 66, 66);
}

.itemPrice {
    color: rgb(0, 199, 0);
}

#recipeTree {
    background: rgb(0, 0, 0);

    border-color: white;
}

#resourceBreakDown {
    background: rgb(0, 0, 0);

    border-color: white;
}

.resourceBreakdownTable > tr > td {
    border-color: black;
}

#settingsTab {
    background: purple;
}

#restSettings {
    background: black;
}

#FAQTab {
    background: black;
}

.column {
    background: rgb(0, 0, 0);
}

.btn {
    background: rgb(88, 88, 88);
    border-color: black;
}

#recipeDisplay {
    background: black;
}

#recipeOptions {
    background: black;
}