* {
    overflow: hidden;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#mainContainer {
    display: flex;
    flex-direction: column;

    height: 100%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex-basis: 6%;

    border-style: solid;
    border-width: 0.1vw;
}

.menubutton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;

    font-size: 2vw;

    border-left-style: solid;
    border-width: 0.1vw;
}

.menubutton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menubutton:last-child {
    border-right-style: solid;
    border-width: 0.1vw;
}

#tabContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-basis: 94%;

    border-style: solid;
    border-top-style: none;
    border-width: 0.1vw;
}

.header {
    font-size: 1.3vw;
    text-decoration: underline;
    text-align: center;
}

#mainTab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
}

#itemSearch {
    display: flex;
    flex-direction: column;

    flex-basis: 20%;

    border-right-style: solid;
    border-right-width: 0.1vw;
    border-left-style: solid;
    border-left-width: 0.1vw;

    overflow:auto;
}

#itemList {
    overflow:auto;
}

.itemPrice {
    font-size: 0.8vw;
}

#recipeTree {
    flex-basis: 45%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}

#resourceBreakDown {
    flex-basis: 15%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}

#recipeList {
    flex-basis: 20%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow: auto;
}

#settingsTab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 100%;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-basis: 15%;

    border-right-style: solid;
    border-right-width: 0.1vw;
    border-left-style: solid;
    border-left-width: 0.1vw;

    overflow:auto;
}