.itemInfoSpan {
    flex-basis: 70%;
}

.itemPrice {
    font-size: 0.8vw;
}

.priceInput {
    display: inline;
    max-width: 6vw;
}

#itemSearchBarContainer {
    display: flex;
    flex-direction: row;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5vh;
}

#itemSearchBar {
    flex-basis: 70%;
}

#quantityToCraft {
    flex-basis: 30%;
}

#recipeTree {
    flex-basis: 65%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}

#resourceBreakDown {
    flex-basis: 15%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}