.itemInfoSpan {
    flex-basis: 70%;
}

.itemPrice {
    font-size: 0.8vw;
}

.priceInput {
    display: inline;
    max-width: 6vw;
}

#recipeTree {
    flex-basis: 65%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}

#resourceBreakDown {
    flex-basis: 15%;

    border-right-style: solid;
    border-right-width: 0.1vw;

    overflow:auto;
}